@import url(../vendor/normalize.css);
@import url(http://fonts.googleapis.com/css?family=Coming+Soon);
* {
  box-sizing: border-box; }

body {
  background: #333;
  color: #555;
  font-family: 'Coming Soon', cursive; }

main {
  overflow: hidden;
  background: yellow; }
  main.fit-to-window {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

section {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #FFF; }
  section.overlay {
    display: none; }

canvas {
  background: #FFF;
  border: 0;
  margin: 0;
  display: block; }

label {
  font-weight: bold; }
  label span {
    font-size: 0.8em;
    color: #888;
    font-weight: normal; }

.button {
  display: block;
  border: 0;
  background: #888;
  color: #FFF;
  text-transform: uppercase;
  margin: 0;
  font-weight: normal; }

h1 {
  text-align: center;
  font-size: 4.5vh; }

h2 {
  font-size: 3vh; }

h3 {
  font-size: 2.5vh;
  font-weight: normal; }

#user-drawing #phrase-block {
  width: 100%;
  height: 5%;
  font-size: 3vh;
  text-align: center;
  background: #999;
  color: #FFF; }

#user-drawing #timer-bar {
  width: 2%;
  height: 85%;
  float: left;
  background: #48BCFA; }

#user-drawing #sender-canvas {
  width: 98%;
  height: 85%; }

#user-drawing #guesser-list {
  display: none;
  position: absolute;
  top: 5%;
  bottom: 10%;
  left: 2%;
  width: 98%;
  background: rgba(0, 0, 0, 0.2);
  overflow: auto; }
  #user-drawing #guesser-list button {
    text-transform: none;
    font-size: 3vh;
    width: 90%;
    margin: 5%;
    padding: 3%; }

#user-drawing #next {
  display: block;
  width: 100%;
  height: 10%;
  padding: 0;
  margin: 0;
  font-size: 4vh;
  background: #64CCA8; }

#user-login {
  display: block; }
  #user-login #form-login {
    width: 70%;
    margin: 10% auto;
    font-size: 3vh; }
    #user-login #form-login label, #user-login #form-login input, #user-login #form-login button {
      display: block;
      width: 100%; }
    #user-login #form-login label {
      margin-bottom: 2%; }
    #user-login #form-login input {
      border: 2px solid #DDD;
      padding: 0.5em;
      margin-bottom: 8%; }
    #user-login #form-login button {
      padding: 0.75em; }

#user-ready {
  background: rgba(255, 255, 255, 0.6);
  padding: 10% 15%; }
  #user-ready button {
    font-size: 3vh;
    width: 60%;
    margin: 20% auto;
    padding: 4%; }
  #user-ready #timer-info {
    margin-bottom: 2em; }
    #user-ready #timer-info::before {
      content: "";
      display: block;
      position: absolute;
      margin-left: -1.5em;
      width: 0;
      height: 0;
      border-top: 1em solid transparent;
      border-bottom: 1em solid transparent;
      border-right: 0.8em solid #CCC;
      -webkit-transform: scale(0.9999);
          -ms-transform: scale(0.9999);
              transform: scale(0.9999); }

#user-info h2 {
  text-align: center; }

#user-new-game button {
  margin: 10% auto;
  padding: 8%;
  width: 80%;
  font-size: 3vh; }
