<!doctype html>
<html>
	<head>
		<title>
			I Can't Draw That
		</title>
		
		<link href="draw/static/styles/main.css" rel="stylesheet" type="text/css">
		
	</head>
	
	<body>
		<main class="aspect-16-9">
			<div class="content">
				<section id="drawing">
					<canvas id="sender-canvas" width="400" height="450">
						Canvas not supported. You need to use a different browser.
					</canvas>
				</section>
				<section id="display">
					<canvas id="reciever-canvas" width="400" height="450">
						Canvas not supported. You need to use a different browser.
					</canvas>
				</section>
			</div>
		</main>
		
		<!-- SCRIPTS -->
		
		<!--<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>-->
		<!--<script src="http://code.jquery.com/jquery-1.11.1.js"></script>-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		
		<script src="/socket.io/socket.io.js"></script>
		<script src="draw/static/scripts/main.js"></script>
		
	</body>
</html>
